@import url("https://fonts.cdnfonts.com/css/ds-digital");
@import url("https://fonts.cdnfonts.com/css/hiruko");
@import url("https://fonts.cdnfonts.com/css/free-agent");
@import url("https://fonts.cdnfonts.com/css/ds-digital");

body {
  background-color: black;

  margin: 0px;
}
canvas {
  display: block;
  background-color: #e0ebeb;
  width: 225px;
  height: 190px;
}
h1 {
  text-align: center;
  font-family: "Hiruko", sans-serif;

  color: white;
}
h3 {
  text-align: center;
  color: white;
}
.container {
  position: relative;

  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}
.game {
  border: 8px solid whitesmoke;
  width: 453px;
  height: 287px;
  background: black;
  position: relative;
  margin: auto;
}
.gamewatch img {
  width: 50px;
  position: absolute;
  left: 20px;
  top: 60px;
}
.gamewatch2 img {
  width: 70px;
  position: absolute;
  left: 10px;
  top: 115px;
}

.btn1 {
  width: 30px;
  height: 30px;
  background-color: red;

  border-radius: 50%;
  position: absolute;
  top: 210px;
  left: 25px;
  border: 4px solid whitesmoke;
}
.btn2 {
  width: 20px;
  height: 20px;
  background-color: red;

  border-radius: 50%;
  position: absolute;
  top: 230px;
  left: 392px;

  border: 4px solid whitesmoke;
}
.btn3 {
  width: 20px;
  height: 20px;
  background-color: red;

  border-radius: 50%;
  position: absolute;
  top: 175px;
  left: 392px;

  border: 4px solid whitesmoke;
}
.btn4 {
  width: 20px;
  height: 20px;
  background-color: red;

  border-radius: 50%;
  position: absolute;
  top: 203px;
  left: 367px;

  border: 4px solid whitesmoke;
}
.btn5 {
  width: 20px;
  height: 20px;
  background-color: red;

  border-radius: 50%;
  position: absolute;
  top: 203px;
  left: 418px;

  border: 4px solid whitesmoke;
}

.game {
  position: relative;
}

#restart-btn {
  position: absolute;
  font-family: "Hiruko", sans-serif;
  top: 56px; /* Justera detta värde för att flytta knappen uppåt eller nedåt */
  right: 20px; /* Justera detta värde för att flytta knappen åt höger eller vänster */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  z-index: 10;
}

.shell {
  border-top: 9px solid rgb(185, 185, 185);
  border-left: 9px solid rgb(102, 102, 102);
  border-bottom: 9px solid grey;
  border-right: 9px solid rgb(170, 170, 170);
  border-radius: 5px;
  background: linear-gradient(
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6,
    #d7d7d7,
    #c3c3c3,
    #cccccc,
    #c6c6c6
  );
  width: 245px;
  height: 230px;
  position: absolute;
  top: 20px;
  left: 95px;
}
.shell p {
  text-align: center;
  margin: 3px;
  font-family: "Free Agent", sans-serif;
  font-family: "Free Agent 3D", sans-serif;
  font-family: "Free Agent Condensed Italic", sans-serif;
  font-family: "Free Agent Condensed", sans-serif;
  font-family: "Free Agent Expanded Italic", sans-serif;
  font-family: "Free Agent Expanded", sans-serif;
  font-family: "Free Agent Italic", sans-serif;
  font-family: "Free Agent Leftalic", sans-serif;
  font-family: "Free Agent Bold 3D", sans-serif;
  font-family: "Free Agent Bold Condensed", sans-serif;
  font-family: "Free Agent Bold Expanded", sans-serif;
  font-family: "Free Agent Bold", sans-serif;
  font-family: "Free Agent Bold CondItal", sans-serif;
  font-family: "Free Agent Bold ExpItal", sans-serif;
  font-family: "Free Agent Bold Italic", sans-serif;
  letter-spacing: 5px;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: red;
}

.outershell {
  border: 3px solid black;
  border-radius: 4px;

  position: absolute;
  top: 23px;
  left: 7px;
  width: 225px;
  height: 190px;
  border: 2px solid;
  margin: auto;

  overflow: hidden;
  background-size: cover;
  animation: marioworld 6s linear infinite;
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-align: center;
}
.game-over > h1 {
  color: yellow;
  font-family: "New Super Mario Font U", sans-serif;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: red;
}
.hidden {
  display: none;
}
.btn4,
.btn5 {
  z-index: 9999;
}
.game-over {
  pointer-events: none;
}
